In [1]:
%load_ext autoreload
%autoreload 2
import os, sys
sys.path.append('..')
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context("poster")
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (11,8)
from merf.merf import MERF
from sklearn.model_selection import train_test_split
from merf.evaluator import plot_bhat, plot_training_stats

In [24]:
train_df = pd.read_csv('../data/kaggle_train.csv')
test_df = pd.read_csv('../data/kaggle_test.csv')
store_df = pd.read_csv('../data/kaggle_store.csv')

/Users/souravdey/.virtualenvs/merf/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
# There are 1115 Stores
train_df['Store'].unique()

array([   1,    2,    3, ..., 1113, 1114, 1115])

In [34]:
# These are the store level variates
store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# Goal

Ok. So I have to predict the NEXT six weeks out. N+1 all the way to N+(7*6) days. Makes sense.

In [31]:
train_df[train_df['Store'] == 1]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1115,1,4,2015-07-30,5020,546,1,1,0,1
2230,1,3,2015-07-29,4782,523,1,1,0,1
3345,1,2,2015-07-28,5011,560,1,1,0,1
4460,1,1,2015-07-27,6102,612,1,1,0,1
5575,1,7,2015-07-26,0,0,0,0,0,0
6690,1,6,2015-07-25,4364,500,1,0,0,0
7805,1,5,2015-07-24,3706,459,1,0,0,0
8920,1,4,2015-07-23,3769,503,1,0,0,0
10035,1,3,2015-07-22,3464,463,1,0,0,0
11150,1,2,2015-07-21,3558,469,1,0,0,0
12265,1,1,2015-07-20,4395,526,1,0,0,0
13380,1,7,2015-07-19,0,0,0,0,0,0
14495,1,6,2015-07-18,4406,512,1,0,0,0
15610,1,5,2015-07-17,4852,519,1,1,0,0
16725,1,4,2015-07-16,4427,517,1,1,0,0
17840,1,3,2015-07-15,4767,550,1,1,0,0
18955,1,2,2015-07-14,5042,544,1,1,0,0
20070,1,1,2015-07-13,5054,553,1,1,0,0
21185,1,7,2015-07-12,0,0,0,0,0,0
22300,1,6,2015-07-11,3530,441,1,0,0,0
23415,1,5,2015-07-10,3808,449,1,0,0,0
24530,1,4,2015-07-09,3897,480,1,0,0,0
25645,1,3,2015-07-08,3797,485,1,0,0,0
26760,1,2,2015-07-07,3650,485,1,0,0,0
27875,1,1,2015-07-06,4359,540,1,0,0,0
28990,1,7,2015-07-05,0,0,0,0,0,0
30105,1,6,2015-07-04,4797,560,1,0,0,0
31220,1,5,2015-07-03,4665,538,1,1,0,0
32335,1,4,2015-07-02,5558,573,1,1,0,0
...,...,...,...,...,...,...,...,...,...
983760,1,3,2013-01-30,4601,560,1,0,0,0
984875,1,2,2013-01-29,3725,522,1,0,0,0
985990,1,1,2013-01-28,4055,549,1,0,0,0
987105,1,7,2013-01-27,0,0,0,0,0,0
988220,1,6,2013-01-26,5598,640,1,0,0,0
989335,1,5,2013-01-25,5586,676,1,1,0,0
990450,1,4,2013-01-24,5195,645,1,1,0,0
991565,1,3,2013-01-23,5578,627,1,1,0,0
992680,1,2,2013-01-22,5720,667,1,1,0,0
993795,1,1,2013-01-21,5394,607,1,1,0,0
994910,1,7,2013-01-20,0,0,0,0,0,0
996025,1,6,2013-01-19,5182,688,1,0,0,0
997140,1,5,2013-01-18,4127,568,1,0,0,0
998255,1,4,2013-01-17,4044,503,1,0,0,0
999370,1,3,2013-01-16,4008,530,1,0,0,0
1000485,1,2,2013-01-15,3900,512,1,0,0,0
1001600,1,1,2013-01-14,4717,616,1,0,0,0
1002715,1,7,2013-01-13,0,0,0,0,0,0
1003830,1,6,2013-01-12,4952,646,1,0,0,0
1004945,1,5,2013-01-11,4881,592,1,1,0,1
1006060,1,4,2013-01-10,4892,615,1,1,0,1
1007175,1,3,2013-01-09,5471,626,1,1,0,1
1008290,1,2,2013-01-08,5580,654,1,1,0,1
1009405,1,1,2013-01-07,7176,785,1,1,0,1
1010520,1,7,2013-01-06,0,0,0,0,0,1
1011635,1,6,2013-01-05,4997,635,1,0,0,1
1012750,1,5,2013-01-04,4486,619,1,0,0,1
1013865,1,4,2013-01-03,4327,578,1,0,0,1
1014980,1,3,2013-01-02,5530,668,1,0,0,1
1016095,1,2,2013-01-01,0,0,0,0,a,1

In [30]:
test_df[test_df['Store'] == 1]

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
856,857,1,3,2015-09-16,1.0,1,0,0
1712,1713,1,2,2015-09-15,1.0,1,0,0
2568,2569,1,1,2015-09-14,1.0,1,0,0
3424,3425,1,7,2015-09-13,0.0,0,0,0
4280,4281,1,6,2015-09-12,1.0,0,0,0
5136,5137,1,5,2015-09-11,1.0,0,0,0
5992,5993,1,4,2015-09-10,1.0,0,0,0
6848,6849,1,3,2015-09-09,1.0,0,0,0
7704,7705,1,2,2015-09-08,1.0,0,0,0
8560,8561,1,1,2015-09-07,1.0,0,0,0
9416,9417,1,7,2015-09-06,0.0,0,0,0
10272,10273,1,6,2015-09-05,1.0,0,0,0
11128,11129,1,5,2015-09-04,1.0,1,0,1
11984,11985,1,4,2015-09-03,1.0,1,0,1
12840,12841,1,3,2015-09-02,1.0,1,0,1
13696,13697,1,2,2015-09-01,1.0,1,0,1
14552,14553,1,1,2015-08-31,1.0,1,0,1
15408,15409,1,7,2015-08-30,0.0,0,0,1
16264,16265,1,6,2015-08-29,1.0,0,0,1
17120,17121,1,5,2015-08-28,1.0,0,0,1
17976,17977,1,4,2015-08-27,1.0,0,0,1
18832,18833,1,3,2015-08-26,1.0,0,0,1
19688,19689,1,2,2015-08-25,1.0,0,0,1
20544,20545,1,1,2015-08-24,1.0,0,0,1
21400,21401,1,7,2015-08-23,0.0,0,0,1
22256,22257,1,6,2015-08-22,1.0,0,0,1
23112,23113,1,5,2015-08-21,1.0,1,0,1
23968,23969,1,4,2015-08-20,1.0,1,0,1
24824,24825,1,3,2015-08-19,1.0,1,0,1
25680,25681,1,2,2015-08-18,1.0,1,0,1
26536,26537,1,1,2015-08-17,1.0,1,0,1
27392,27393,1,7,2015-08-16,0.0,0,0,1
28248,28249,1,6,2015-08-15,1.0,0,0,1
29104,29105,1,5,2015-08-14,1.0,0,0,1
29960,29961,1,4,2015-08-13,1.0,0,0,1
30816,30817,1,3,2015-08-12,1.0,0,0,1
31672,31673,1,2,2015-08-11,1.0,0,0,1
32528,32529,1,1,2015-08-10,1.0,0,0,1
33384,33385,1,7,2015-08-09,0.0,0,0,1
34240,34241,1,6,2015-08-08,1.0,0,0,1
35096,35097,1,5,2015-08-07,1.0,1,0,1
35952,35953,1,4,2015-08-06,1.0,1,0,1
36808,36809,1,3,2015-08-05,1.0,1,0,1
37664,37665,1,2,2015-08-04,1.0,1,0,1
38520,38521,1,1,2015-08-03,1.0,1,0,1
39376,39377,1,7,2015-08-02,0.0,0,0,1
40232,40233,1,6,2015-08-01,1.0,0,0,1

In [27]:
# I have about three years of data for most stores
train_df.groupby('Store').count()

,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,,,,,,,,
1,942,942,942,942,942,942,942,942
2,942,942,942,942,942,942,942,942
3,942,942,942,942,942,942,942,942
4,942,942,942,942,942,942,942,942
5,942,942,942,942,942,942,942,942
6,942,942,942,942,942,942,942,942
7,942,942,942,942,942,942,942,942
8,942,942,942,942,942,942,942,942
9,942,942,942,942,942,942,942,942
10,942,942,942,942,942,942,942,942
11,942,942,942,942,942,942,942,942
12,942,942,942,942,942,942,942,942
13,758,758,758,758,758,758,758,758
14,942,942,942,942,942,942,942,942
15,942,942,942,942,942,942,942,942
16,942,942,942,942,942,942,942,942
17,942,942,942,942,942,942,942,942
18,942,942,942,942,942,942,942,942
19,942,942,942,942,942,942,942,942
20,758,758,758,758,758,758,758,758
21,942,942,942,942,942,942,942,942
22,758,758,758,758,758,758,758,758
23,942,942,942,942,942,942,942,942
24,942,942,942,942,942,942,942,942
25,942,942,942,942,942,942,942,942
26,942,942,942,942,942,942,942,942
27,942,942,942,942,942,942,942,942
28,942,942,942,942,942,942,942,942
29,942,942,942,942,942,942,942,942
30,942,942,942,942,942,942,942,942
...,...,...,...,...,...,...,...,...
1086,942,942,942,942,942,942,942,942
1087,942,942,942,942,942,942,942,942
1088,942,942,942,942,942,942,942,942
1089,942,942,942,942,942,942,942,942
1090,942,942,942,942,942,942,942,942
1091,942,942,942,942,942,942,942,942
1092,758,758,758,758,758,758,758,758
1093,942,942,942,942,942,942,942,942
1094,758,758,758,758,758,758,758,758
1095,942,942,942,942,942,942,942,942
1096,942,942,942,942,942,942,942,942
1097,942,942,942,942,942,942,942,942
1098,942,942,942,942,942,942,942,942
1099,942,942,942,942,942,942,942,942
1100,942,942,942,942,942,942,942,942
1101,942,942,942,942,942,942,942,942
1102,758,758,758,758,758,758,758,758
1103,942,942,942,942,942,942,942,942
1104,758,758,758,758,758,758,758,758
1105,942,942,942,942,942,942,942,942
1106,942,942,942,942,942,942,942,942
1107,758,758,758,758,758,758,758,758
1108,942,942,942,942,942,942,942,942
1109,758,758,758,758,758,758,758,758
1110,942,942,942,942,942,942,942,942
1111,942,942,942,942,942,942,942,942
1112,942,942,942,942,942,942,942,942
1113,942,942,942,942,942,942,942,942
1114,942,942,942,942,942,942,942,942
1115,942,942,942,942,942,942,942,942

In [35]:
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [45]:
X = train_df[['DayOfWeek', 'Open', 'Promo', 'SchoolHoliday']]
y = train_df['Sales']

In [44]:
X['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [58]:
zz = pd.get_dummies(train_df['StateHoliday'], prefix='state_holiday')
state_holiday = zz[['state_holiday_a', 'state_holiday_b', 'state_holiday_c']]
X = pd.merge(X, state_holiday, how='inner', left_index=True, right_index=True)

In [60]:
X

,DayOfWeek,Open,Promo,SchoolHoliday,state_holiday_a,state_holiday_b,state_holiday_c
0,5,1,1,1,0,0,0
1,5,1,1,1,0,0,0
2,5,1,1,1,0,0,0
3,5,1,1,1,0,0,0
4,5,1,1,1,0,0,0
5,5,1,1,1,0,0,0
6,5,1,1,1,0,0,0
7,5,1,1,1,0,0,0
8,5,1,1,1,0,0,0
9,5,1,1,1,0,0,0
10,5,1,1,1,0,0,0
11,5,1,1,1,0,0,0
12,5,1,1,0,0,0,0
13,5,1,1,1,0,0,0
14,5,1,1,1,0,0,0
15,5,1,1,1,0,0,0
16,5,1,1,1,0,0,0
17,5,1,1,1,0,0,0
18,5,1,1,1,0,0,0
19,5,1,1,0,0,0,0
20,5,1,1,1,0,0,0
21,5,1,1,0,0,0,0
22,5,1,1,1,0,0,0
23,5,1,1,1,0,0,0
24,5,1,1,1,0,0,0
25,5,1,1,1,0,0,0
26,5,1,1,1,0,0,0
27,5,1,1,1,0,0,0
28,5,1,1,1,0,0,0
29,5,1,1,1,0,0,0
...,...,...,...,...,...,...,...
1017179,2,0,0,1,1,0,0
1017180,2,0,0,1,1,0,0
1017181,2,0,0,1,1,0,0
1017182,2,0,0,1,1,0,0
1017183,2,0,0,1,1,0,0
1017184,2,0,0,1,1,0,0
1017185,2,0,0,1,1,0,0
1017186,2,0,0,1,1,0,0
1017187,2,0,0,1,1,0,0
1017188,2,0,0,1,1,0,0
1017189,2,0,0,1,1,0,0
1017190,2,1,0,1,1,0,0
1017191,2,0,0,1,1,0,0
1017192,2,0,0,1,1,0,0
1017193,2,0,0,1,1,0,0
1017194,2,0,0,1,1,0,0
1017195,2,0,0,1,1,0,0
1017196,2,0,0,1,1,0,0
1017197,2,0,0,1,1,0,0
1017198,2,0,0,1,1,0,0
1017199,2,0,0,1,1,0,0
1017200,2,0,0,1,1,0,0
1017201,2,0,0,1,1,0,0
1017202,2,0,0,1,1,0,0
1017203,2,0,0,1,1,0,0
1017204,2,0,0,1,1,0,0
1017205,2,0,0,1,1,0,0
1017206,2,0,0,1,1,0,0
1017207,2,0,0,1,1,0,0
1017208,2,0,0,1,1,0,0

In [59]:
# Train a random forest on only 
from sklearn.model_selection import cross_val_score, KFold
rf = RandomForestRegressor(n_jobs=-1)
scores = cross_val_score(rf, X, y, cv=KFold(n_splits=5, shuffle=True), scoring='neg_mean_squared_error', n_jobs=-1)
scores

array([-6630029.47408732, -6547094.80655806, -6615503.85446302,
       -6601047.18524292, -6516283.55160603])